.header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: 60px;
  margin-top: 50px;
}

.header__logoBlock {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.header__btn {
  width: 103px;
  height: 52px;
  color: rgba(0, 0, 0, 1);
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}

.header__subtitle {
  color: rgba(0, 0, 0, 1);
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  opacity: 0.5;
}

.header__authControls {
  position: relative;
}

.profileMenu {
  position: absolute;
  top: calc(100% + 12px);
  right: 0;
  width: 266px;
  padding: 30px;
  border-radius: 30px;
  background: #fff;
  box-shadow: 0px 4px 67px -12px rgba(0, 0, 0, 0.13);
  z-index: 50;
  display: flex;
  flex-direction: column;
  gap: 34px;
}

.header__profileBtn {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 12px;
}

.header__profileIcon {
  margin-right: 4px;
}

.header__caretIcon {
  width: 10px;
  height: 10px;
}

.header__name {
  color: rgba(0, 0, 0, 1);
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
}

.profileMenu__top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profileMenu__title {
  color: rgba(0, 0, 0, 1);
  font-family: StratosSkyeng;
  font-size: 18px;
  font-weight: 400;
}

.profileMenu__email {
  color: rgba(153, 153, 153, 1);
  font-family: StratosSkyeng;
  font-size: 18px;
  font-weight: 400;
}

.menuBtn {
  width: 206px;
  height: 52px;
  color: rgba(0, 0, 0, 1);
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}

.menuBtnSecondary {
  margin-top: 10px;
  border: 1px solid rgba(0, 0, 0, 1);
  background-color: #fff;
}

.header__profileBtn {
  cursor: pointer;
}

@media (max-width: 375px) {
  .header {
    margin-bottom: 40px;
  }

  .header__btn {
    width: 83px;
    height: 36px;
    padding: 8px 16px 8px 16px;
  }

  .header__subtitle {
    display: none;
  }

  .header__profileIcon {
    width: 36px;
    height: 36px;
  }

  .header__name {
    display: none;
  }

  .header__caretIcon {
    width: 8px;
    height: 4px;
  }

  .header__profileBtn {
    gap: 10px;
  }
}
