.profile {
  margin-bottom: 280px;
}

.profile__title {
  color: rgba(0, 0, 0, 1);
  font-family: Roboto;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 40px;
}

.profile__card {
  border-radius: 30px;
  box-shadow: 0px 4px 67px -12px rgba(0, 0, 0, 0.13);
  background: rgba(255, 255, 255, 1);
  padding: 30px;
  width: 1160px;
  margin-bottom: 60px;

  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 33px;
  align-items: center;
}

.profile__avatarBox {
  grid-column: 1;
  grid-row: 1 / span 2;
  justify-self: start;
}

.profile__info {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.profile__logout {
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 1);
  border-radius: 46px;
  background-color: white;
  color: rgba(0, 0, 0, 1);
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  width: 192px;
  padding: 16px 26px 16px 26px;
}

.cardTitle {
  color: rgba(0, 0, 0, 1);
  font-family: Roboto;
  font-size: 32px;
  font-weight: 500;
  line-height: 38px;
}

.cardSubtitle {
  color: rgba(0, 0, 0, 1);
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}

.courses__title {
  color: rgba(0, 0, 0, 1);
  font-family: Roboto;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 40px;
}

.coursesGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 360px));
  gap: 40px;
  justify-items: center;
  padding: 0;
  margin: 0;
}
.coursesGridItem {
  list-style: none;
}

.pageBlank {
  min-height: 80vh;
}

.onlyMobile {
  display: none;
}

@media (max-width: 375px) {
  .profile__title {
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 24px;
  }

  .profile__card {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 343px;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 24px;
  }

  .profile__avatarBox {
    align-self: center;
  }

  .profile__avatar {
    width: 141px;
    height: 141px;
    display: block;
    margin: 0;
  }

  .profile__info {
    margin-top: 30px;
    margin-bottom: 20px;
    gap: 20px;
  }

  .cardTitle {
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
  }

  .cardSubtitle {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
  }

  .profile__logout {
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
  }

  .courses__title {
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 24px;
  }

  .coursesGrid {
    gap: 24px;
  }

  .onlyMobile {
    display: inline-flex;
  }

  .back__btn {
    display: block;
    width: 127px;
    height: 52px;
    padding: 16px 26px;
    margin-left: auto;
    margin-right: 0;
    margin-top: 24px;
    margin-bottom: 29px;
  }

  .profile {
    margin-bottom: 40px;
  }
}
