.wrap {
  position: relative;
}

.banner {
  position: relative;
  margin-top: 106px;
  border-radius: 30px;
  box-shadow: 0px 4px 67px -12px rgba(0, 0, 0, 0.13);
  background: rgba(255, 255, 255, 1);
  margin-bottom: 50px;

  display: grid;
  grid-template-columns: 1.1fr 0.9fr; /* текст : медиа */
  gap: 24px;
  padding: 40px; /* подогнано под твои отступы */
  overflow: hidden;
}

.colLeft {
  width: 437px;
  padding: 0;
}

.title {
  width: 398px;
  color: rgba(0, 0, 0, 1);
  font-family: Roboto;
  font-size: 60px;
  font-weight: 500;
  line-height: 70px;
  padding-bottom: 28px;
}

.list {
  width: 437px;
  color: rgba(0, 0, 0, 0.6);
  font-family: Roboto;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  margin: 0;
  padding-left: 15px; /* обнуляем, сами дадим отступ у li */
  list-style: none;
}

.list li {
  position: relative;
  padding-left: 16px; /* расстояние от точки до текста */
  margin-bottom: 8px;
}

.list li::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%; /* центр по высоте строки */
  transform: translateY(-55%); /* сдвинь -45%..-60% как нужно "чуть выше" */
  width: 4px; /* размер точки */
  height: 4px;
  border-radius: 50%;
  background: currentColor; /* цвет = цвет текста (0.6 чёрный) */
}

.cta {
  margin-top: 28px;
  width: 437px;
  height: 52px;
}

.media {
  position: relative; /* база для абсолютных картинок */
  z-index: 1;
}

.athleteWrap {
  position: absolute;
  right: -20px; /* подгони по макету */
  bottom: -18px;
  z-index: 2; /* выше .banner */
  pointer-events: none;
}
.athlete {
  display: block;
  width: 650px;
}

.loopWrap {
  position: absolute;
  right: -45px;
  bottom: -155px;
  width: 750px;
  height: auto;
}
.loop {
  width: 100%;
  height: auto;
}

.arcWrap {
  position: absolute;
  left: 65px;
  top: -10px;
  width: 50px;
  height: 43px;
}
.arc {
  width: 100%;
  height: auto;
}
